<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjaY4n0FLh4r5Qci5w0Rq7jx09OURsYW0</string>
	<key>GCM_SENDER_ID</key>
	<string>208461315738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tacc.GraphParse</string>
	<key>PROJECT_ID</key>
	<string>graphparse</string>
	<key>STORAGE_BUCKET</key>
	<string>graphparse.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208461315738:ios:aa31791766e6645be96923</string>
</dict>
</plist>
